{% extends 'base.html' %}

{% block content %}

<section class="section">
<section class="container">
<section class="content">
    <h1>{{ title }}</h1>
    {% for d in data %}
    
    <div class="notification">
        <article class="content">
            <h2>{{ d.article_name }}</h2>
            <p>{{ d.article_content|safe }}</p>
            <p class="help has-text-info">Created on: {{ d.article_ct_date }}</p>
            {% for tag_object in d.tags.all %}
                <span class="tag is-primary">{{tag_object.tag_name }}</span>
            {% endfor %}
           
        </article>
    </div>
    
    {% endfor %}
</section>

</section>
</section>

{% endblock content %}