{% extends 'base.html' %}

{% block content %}

<section class="section">
    <section class="container">
        <section class="content">
            <h1>Login</h1>
            <form action="." class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|safe }}
                <button class="button is-success is-outlined" type="submit">Submit</button>
            </form>
        </section>
    </section>
</section>

{% endblock content %}

