{% extends 'base.html' %}

{% block content %}
<section style="background-color: red;">
<section class="section">
<section class="container">
<section class="content">
    <h1>{{ title }}</h1>
    {% for d in data %}
    <div class="notification is-white">
        <h2>{{ d.owner_name }}</h2>
        <p>{{ d.owner_address }}</p>
        {% for dog in d.dog_set.all %}
            <span class="tag is-danger">{{ dog }}</span>
        {% endfor%}
    </div>
    
    {% endfor %}
</section>
</section>
</section>
</section>

{% endblock content %}