{% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="background-color: #f2f2f2;">
<section class="section" style="background-color: transparent;">
<section class="container">
<section class="content">
    <img src="{% static 'dog_group.jpg' %}" alt="">
    <h2>{{ title }}</h2>
    {% for d in data %}
    <div class="notification is-white">
        
        <h3>{{ d.owner_name }}</h3>
        
        <p style="color: grey;">{{ d.owner_address }}</p>
        
        {% for dog in d.dog_set.all %}
        <div class="notification is-light">
            <p>{{ dog.dog_name }}</p>
            {% if dog.dog_image %}
            <img src="{{ dog.dog_image.url }}">
            {% endif %}
            
        </div>
            
        {% endfor%}
    
    </div>
    
    {% endfor %}
</section>
</section>
</section>
</section>

{% endblock content %}