{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
<section class="section">
<section class="container">
<section class="content">
    <h2>{{ title }}</h2>
    {% for d in data %}
    <div class="notification is-light">
        
        <h3>{{ d.owner_name }}</h3>
        
        <p style="color: grey;">{{ d.owner_address }}</p>
        
        {% for dog in d.dog_set.all %}
        <div class="notification is-light">
            <p>{{ dog.dog_name }}</p>
            {% if dog.dog_image %}
            <img style="max-width: 200px;" src="{{ dog.dog_image.url }}">
            {% endif %}
        </div> 
        {% endfor%}
    
    </div>
    
    {% endfor %}
</section>
</section>
</section>
</section>

{% endblock content %}